/*
    Estilliza��o da p�gina de visualiza��o
    Autor: Glauco Azevedo
*/
#pagediv{
    font-family: Helvetica,Arial,sans-serif;
    margin: 2% 10%;
}

#topBar {
    text-align:center;
    font-family: sans-serif;
}

#centerblock {
    position: relative;
}

#mapas{
    display: inline-block;
    margin: 2px 10px;
    float: left;
}

#timescroll {
    font: 20px sans-serif;
    margin: 10px auto 10px 200px;
}

#previous, #next, #ano-atual {
    display: inline;
    margin: 0em 1.5em;
    text-align: center;
}

button#previous, button#next {
    font-size: 15px;
}

#ano-atual{
    font-weight: bold;
}

#git{
    width: 16px;
}

/* Estilos para a chart do RJ*/
.cities {
    /*fill: gray;*/
    stroke: white;
    stroke-linejoin: round;
}

path:hover{
    stroke: rgb(234, 242, 87);
    stroke-width: 2.5px;
}

.chartTitle, .chartTitle2{
    text-align: center;
    font-size: 2.0em;
    font-weight: 700;
}
.infobox{
    display: table-cell;
    text-align: center;
    vertical-align: top;
    position: absolute;
    /*width: 60px;*/
    /*height: 40px;*/
    padding: 4px;
    font: 12px sans-serif;
    background: lightgreen;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}
/*Estilos para a Sankey chart das elei��es para vereadores.*/
#sankey{
    display: inline-block;
    margin: 2px 10px;
    float: right;
}
/*Teste*/
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
/*Fim do teste*/

div#lista-features {
    display: block;
    position: relative;
    margin: 0% 10%;
    line-height: 1.6em;
}
