/*
    Estillização da página de visualização
    Autor: Glauco Azevedo
*/
p {
    font-family: ui-rounded;
    padding: 20px;
    text-align: center;
}

#pagediv{
    font-family: sans-serif;
    margin: 2% 15% 2% -10%;
}

#topBar {
    text-align: center;
    font-family: sans-serif;
    margin: 2% 20%;
    width: 1000px;
}

#centerblock {
    position: relative;
}

#centerblock p {
    text-align: center;
    margin: 2% 20%;
    width: 1000px;
}

#timescroll {
    font: 20px sans-serif;
    margin: 0px 10px;
    display: flex;
    height: fit-content;
    align-items:  stretch;
    width: 1000px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#previous, #next, #ano-atual {
    display: inline;
    margin: 0em 1.5em;
    text-align: center;
}

#mainChart {
    width: 1000px;
    height: 500px;
    margin: 0px 10px;
}

button#previous, button#next {
    font-size: 15px;
}

#ano-atual{
    font-weight: bold;
}

#git{
    width: 16px;
}

/* Estilos para a chart do RJ*/
.cities {
    /*fill: gray;*/
    stroke: white;
    stroke-linejoin: round;
}

path:hover{
    stroke: rgb(234, 242, 87);
    stroke-width: 2.5px;
}

.chartTitle, .chartTitle2{
    text-align: center;
    font-size: 2.0em;
    font-weight: 700;
}
.infobox{
    display: table-cell;
    text-align: center;
    vertical-align: top;
    position: absolute;
    /*width: 60px;*/
    /*height: 40px;*/
    padding: 4px;
    font: 12px sans-serif;
    background: lightgreen;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}

#mapas, #sankey{
    display: contents;
    margin: 2px 10px;
    float: left;
    svg {
        margin: 2% 20%;
        width: 1000px;
    }
    #timescroll {
        margin: 2% 20%;
    }
}

/*Teste*/
.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}
/*Fim do teste*/

#lista-features {
    display: block;
    position: relative;
    margin: 0% 20%;
    width: 1000px;
    line-height: 1.6em;
    padding: 0 0 0 10%;
}

/* #lista-features p {
    text-align: left;
    padding: 0;
    font-family: sans-serif;
} */

#lista-features h2 {
    font-size: 2.0em;
    text-align: left;
}

.row-spacer {
    height: 20px;
}
